<div class="progress <%= html_class %>">
  <% 
  ratings
    .map((rating) => (rating / ratings.reduce((a, b) => a + b, 0)))
    .map((rating) => (Math.round(rating * 100)))
    .map((rating,index) => [rating, (index + 1)])
    .forEach((rating, index) => { %>
  <% if (rating[0] > 0) { %>
  <div
    class="progress-bar bg-<%= rating[1] %>-star"
    role="progressbar"
    style="width: <%= rating[0] %>%;"
    aria-valuenow="<%= rating[0] %>"
    aria-valuemin="0"
    aria-valuemax="<%= rating[0] %>">
    <span class="d-none d-sm-inline">
      <%= Array(rating[1]).fill('★').join('') %><%= " " %>
    </span>
    × <%= ratings[index] %>
  </div>
  <% } %>
  <% }) %>
</div>