<div class="card mb-3">
  <div class="card-header">
    <%- include("profile", user) %>
  </div>
  <div class="card-body">
    <p><%= story.text %></p>
    <div class="photos">
      <% story.photos.forEach(photo => { %>
        <img class="h-100" src="<%= photo %>" />
      <% }) %>
    </div>
  </div>
  <div class="card-footer d-flex align-items-center w-100">
    <%- include("likes",{ ratings: story.ratings, html_class: 'flex-grow-1 mr-2' }) %>
    <%- include("likeButton", { storyId: story._id, rating: 2 }) %>
  </div>
</div>