<%- include("layouts/head") %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<%- include("profile",{username: "blah", nickname: "Blah", id: 1}) %>
<%- include("profile",{username: "foo", nickname: "Foo", id: 2}) %>
<%- include("profile",{username: "boardfish_", nickname: "Simon Fish", id: 3}) %>
<%- include("layouts/foot") %>