<%- include("layouts/head") %>
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<% stories.forEach(story => { %>
  <%- include("components/story",{
    user: story.user,
    story: {
      id: story._id,
      text: story.text,
      photos: [
        'https://placehold.it/300',
        'https://placehold.it/300',
        'https://placehold.it/300',
        'https://placehold.it/300'
      ],
      likes: story.likes
    }
  }) %>
  <% }) %>
<%- include("layouts/foot") %>
